<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PhotoShare</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- 顶部菜单栏 -->
  <%- include('widgets/navmenu') %>

  <!-- 网站介绍 -->
  <div class="jumbotron">
    <div class="container">
      <h1>
        <img class="logo" src="/images/photo.png" alt="Logo">
            PhotoShare
      </h1>
      <p>你可以在这里上传你拍摄的照片,同时和朋友分享你的或你们的快乐时光</p>
      <p>记录你生活中的精彩一刻</p>
    </div>
  </div>

  <%- include('photo/photos')%>

  <!--引入需要的bootstrap文件-->
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>
