<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoShare</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
     <!-- 全局导航菜单 -->
     <%- include('../widgets/navmenu') %>
     <!-- 用户信息-->
     <%- include('../widgets/greet') %>

     <!--内容区域-->
     <div  class="container">

     <!--图像显示区-->
     <div class="row">
        <% if(!locals.photos) { %>
            <h4 class="text-danger">你还没有上传任何图片，点击上传添加图片吧！</h4>
        <% } %>
        
        <%-include('../widgets/photos') %>
         
     </div>
     </div>
      <script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>
