<ul class="photo-comment-list">
        <% comments.forEach(function(comment){ %>
            <li class="comment">
                <div class="comment-from">
                    <span><%= comment.nickname || comment.email %></span>
                    发布于<%= comment.issue_date.toLocaleString() %>
                    <div class="comment-content">
                        <h3 class="text-success"><%= comment.content%> </h3>
                    </div>
                </div>
            </li>
        <% }) %>
    </ul>