<% locals.photos.forEach( function(photo){ %>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail photo-frame">
            <div class="caption">
                <h5><%= photo.title %></h5>
            </div>
             <div class="photo">
                <img class="img-responsive" src="<%= photo.url %>" alt="<%= photo.title %>">
            </div>
            <div class="caption">
                <p><%= photo.upload_time.toLocaleString() %></p>
            </div>
        </div>
    </div>
<% } ) %>