<div class="photo-comment-container">
    <div class="title-toolbar">
        <!-- 选择所在相册 -->
        <div class="btn-group">
        <button type="button" class="btn btn-danger">相册</button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <% albums.forEach(function(album) { %>
                <li><a href="/album/changeAblum?id=album.id"><%= album.name %></a></li>
            <% }) %> 
        </ul>
        </div>

        <!-- 选择可见性-->
        <div class="btn-group">
        <button type="button" class="btn btn-danger">可见性</button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/album/changeVibility?vi=P">公开</a></li>
            <li><a href="/album/changeVibility?vi=F">朋友可见</a></li>
            <li><a href="/album/changeVibility?vi=M">自己可见</a></li>
        </ul>
        </div>

    </div>
    <div class="comment-photo-frame">
        <img class="large-photo" src="<%= url %>">
    </div>
    <div class="comment-area">
        <%- include('comments') %>
    </div>
    <form method="post" action="/users/addComment" onsubmit="return addComment()">
        <div class="form-group">
            <input type="hidden" name='photoId' value="<%= pid %>">
            <input type="text" class="form-control" id="new-comment" placeholder="有什么想说的吗" name="comment">
        </div>   
        <button type="submit" class="btn btn-default">提交评论</button>
    </form>
</div>