<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoShare</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
     <!-- 全局导航菜单 -->
     <%- include('../widgets/navmenu') %>
     <!-- 用户信息-->
     <%- include('../widgets/greet') %>

     <!--内容区域-->
     <div  class="container">
     <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span  class="text-info"><%= albumName %></span>
            <a href="/users/">返回所有相册</a>
          </div>
          <div class="panel-body">
            <%- include('photos') %>
          </div>
        </div>
      </div>
     </div>
      <script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
      
  </body>
</html>
